@font-face {
	font-family: "BebasNeueBold";
	src: url("../../../public/font/BebasNeue\ Bold.ttf");
}

@font-face {
	font-family: "BebasNeueRegular";
	src: url("../../../public/font/BebasNeue\ Regular.ttf");
}

@font-face {
	font-family: "MonserratRegular";
	src: url("../../../public/font/Montserrat-Regular.otf");
}

@font-face {
	font-family: "MonserratBold";
	src: url("../../../public/font/Montserrat-Bold.otf");
}


@font-face {
	font-family: "AlfaSlabOne";
	src: url("../../../public/font/AlfaSlabOne-Regular.ttf");
}